*.pyc
iam_database/
venv/
words_dataset/
lines_dataset/
offline_htr.zip
conv_lstm_model.h5
iam_ondb/
\.idea/
*.png
dist/
build/
keras_htr.egg-info/
temp_ds/
*.zip
conv_lstm_model/
Dockerfile
docker-compose.yml
